{% extends 'base.html.twig' %}

{% block title %}Hello MatchController!{% endblock %}

{% block body %}
<head>

</head>
    <style>
        .example-wrapper{
           text-align: center;
        }
    </style>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>


        <div class="example-wrapper">
            Hello {% for matchs in match %}
                <p>-------------------------------------</p>
                <li><p>Date du match : {{ matchs.date }}</p>
                    <p>Equipe domicile : {{ matchs.teams.domicile }}</p>
                    <p>Equipe extérieur : {{ matchs.teams.exterieur }}</p>
                    {% if matchs.scores.domicile is defined %}
                        {% if matchs.scores.domicile is not null %}
                            <p>Score équipe domicile : {{ matchs.scores.domicile}}</p>
                            <p>Score équipe extérieur : {{ matchs.scores.exterieur }}</p>
                        {% endif %}
                        {% if matchs.scores.tireaubut == true  %}
                            <p>L'équipe qui a gagné au tire au but est : {% if matchs.scores.winner == "exterieur"  %}{{ matchs.teams.exterieur }}{% endif %}
                                {% if matchs.scores.winner == "domicile"  %}{{ matchs.teams.domicile }}{% endif %}
                            </p>
                        {% endif %}

                        {% elseif 'now'|date('Y-m-d H-m-s', "Europe/Paris") < matchs.date|date('Y-m-d H-m-s', "Europe/Paris") %}
                            <form method="POST" action="PariController">
                                <label for="inputEmail">Score domicile</label>
                                <input type="number" name="Score domicile" id="inputScore1" class="form-control">
                                <label for="inputPassword">Score extérieur</label>
                                <input type="number" name="Score extérieur" id="inputScore2" class="form-control">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Parier
                                </button>
                            </form>
                    {% endif %}
                </li>
            {% endfor %}

            ✅
        </div>

    {% else %}
        <div class="example-wrapper">
            Hello {% for matchs in match %}
                <p>-------------------------------------</p>
                <li><p>Date du match : {{ matchs.date }}</p>
                    <p>Equipe domicile : {{ matchs.teams.domicile }}</p>
                    <p>Equipe extérieur : {{ matchs.teams.exterieur }}</p>
                    {% if matchs.scores.domicile is defined %}
                        {% if matchs.scores.domicile is not null %}
                            <p>Score équipe domicile : {{ matchs.scores.domicile}}</p>
                            <p>Score équipe extérieur : {{ matchs.scores.exterieur }}</p>
                        {% endif %}
                        {% if matchs.scores.tireaubut == true  %}
                            <p>L'équipe qui a gagné au tire au but est : {% if matchs.scores.winner == "exterieur"  %}{{ matchs.teams.exterieur }}{% endif %}
                                {% if matchs.scores.winner == "domicile"  %}{{ matchs.teams.domicile }}{% endif %}
                            </p>
                        {% endif %}
                    {% else %}
                        <p>Pour parier connectez vous !</p>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Connexion
                        </button>
                    {% endif %}
                </li>
            {% endfor %}

            ✅
        </div>
    {% endif %}



{% endblock %}
